openapi: 3.0.3
info:
  title: Kayran Platform API
  description: API для платформы водных активностей, проката, спорта и инклюзивных программ
  version: 0.1.0
  contact:
    name: Kayran Team

servers:
  - url: https://api.kayran.ru/v1
    description: Production
  - url: http://localhost:8080/v1
    description: Local development

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object

    User:
      type: object
      properties:
        id:
          type: string
          pattern: '^U[a-f0-9]{6}$'
        first_name:
          type: string
        last_name:
          type: string
        phone:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
          enum: [participant, instructor, judge, volunteer, franchise_admin, system_admin]
        status:
          type: string
          enum: [active, blocked, deleted, pending]
        created_at:
          type: string
          format: date-time

    Event:
      type: object
      properties:
        id:
          type: string
          pattern: '^E[a-f0-9]{6}$'
        event_type:
          type: string
          enum: [rental, training, route, match, tournament, inclusive_program, festival, corporate]
        title:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        point_id:
          type: string
        route_id:
          type: string
        created_by:
          type: string
        status:
          type: string
          enum: [planned, active, completed, cancelled, emergency]
        created_at:
          type: string
          format: date-time

    Boat:
      type: object
      properties:
        id:
          type: string
          pattern: '^B[a-f0-9]{6}$'
        point_id:
          type: string
        serial_number:
          type: string
        title:
          type: string
        color:
          type: string
        boat_type:
          type: string
        capacity:
          type: integer
        status:
          type: string
          enum: [available, rented, repair, inactive, lost, reserved]
        condition_level:
          type: string
          enum: [excellent, good, fair, poor, damaged]

    Route:
      type: object
      properties:
        id:
          type: string
          pattern: '^R[a-f0-9]{6}$'
        title:
          type: string
        difficulty:
          type: string
          enum: [easy, medium, hard, adaptive]
        distance_km:
          type: number
        estimated_duration:
          type: integer
        route_type:
          type: string

    GPSPoint:
      type: object
      properties:
        lat:
          type: number
          format: float
        lng:
          type: number
          format: float
        timestamp:
          type: string
          format: date-time
        speed:
          type: number
        accuracy:
          type: number

    GpsTrack:
      type: object
      properties:
        id:
          type: string
          pattern: '^G[a-f0-9]{6}$'
        event_id:
          type: string
        user_id:
          type: string
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [active, completed, interrupted, error]
        distance_km:
          type: number

    Rental:
      type: object
      properties:
        id:
          type: string
          pattern: '^A[a-f0-9]{6}$'
        event_id:
          type: string
        user_id:
          type: string
        boat_id:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        status:
          type: string
          enum: [active, completed, cancelled, overdue, damaged]

    Team:
      type: object
      properties:
        id:
          type: string
          pattern: '^T[a-f0-9]{6}$'
        title:
          type: string
        captain_user_id:
          type: string
        status:
          type: string
          enum: [active, disbanded, inactive]

    Match:
      type: object
      properties:
        id:
          type: string
          pattern: '^S[a-f0-9]{6}$'
        event_id:
          type: string
        tournament_id:
          type: string
        round:
          type: integer
        team_a_id:
          type: string
        team_b_id:
          type: string
        judge_user_id:
          type: string
        score_a:
          type: integer
        score_b:
          type: integer
        status:
          type: string
          enum: [scheduled, active, finished, cancelled, disputed]

    Tournament:
      type: object
      properties:
        id:
          type: string
          pattern: '^M[a-f0-9]{6}$'
        event_id:
          type: string
        title:
          type: string
        format:
          type: string
          enum: [single_elimination, double_elimination, round_robin, group_stage, swiss]
        status:
          type: string

    Payment:
      type: object
      properties:
        id:
          type: string
          pattern: '^Y[a-f0-9]{6}$'
        event_id:
          type: string
        user_id:
          type: string
        amount:
          type: number
        currency:
          type: string
        payment_status:
          type: string
          enum: [pending, processing, completed, failed, refunded, cancelled]

paths:
  # Auth
  /auth/register:
    post:
      tags: [Auth]
      summary: Регистрация пользователя
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [first_name, last_name, phone]
              properties:
                first_name: { type: string }
                last_name: { type: string }
                phone: { type: string }
                email: { type: string, format: email }
      responses:
        '201':
          description: Пользователь создан

  /auth/login:
    post:
      tags: [Auth]
      summary: Вход в систему
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone: { type: string }
      responses:
        '200':
          description: JWT-токен

  # Events
  /events:
    get:
      tags: [Events]
      summary: Список событий
      parameters:
        - in: query
          name: event_type
          schema: { type: string }
        - in: query
          name: status
          schema: { type: string }
        - in: query
          name: point_id
          schema: { type: string }
        - in: query
          name: start_from
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Список событий

    post:
      tags: [Events]
      summary: Создать событие
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [event_type, title, start_time]
              properties:
                event_type: { type: string }
                title: { type: string }
                description: { type: string }
                start_time: { type: string, format: date-time }
                point_id: { type: string }
                route_id: { type: string }
      responses:
        '201':
          description: Событие создано

  /events/{id}:
    get:
      tags: [Events]
      summary: Детали события
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Детали события

  /events/{id}/participants:
    post:
      tags: [Events]
      summary: Добавить участника события
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id: { type: string }
                role: { type: string }
      responses:
        '200':
          description: Участник добавлен

  # Users
  /users/{id}:
    get:
      tags: [Users]
      summary: Получить пользователя
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Данные пользователя

  # Boats
  /boats:
    get:
      tags: [Boats]
      summary: Список лодок
      parameters:
        - in: query
          name: point_id
          schema: { type: string }
        - in: query
          name: status
          schema: { type: string }
      responses:
        '200':
          description: Список лодок

    post:
      tags: [Boats]
      summary: Добавить лодку
      security:
        - BearerAuth: []
      responses:
        '201':
          description: Лодка добавлена

  /boats/available:
    get:
      tags: [Boats]
      summary: Доступные лодки на точке
      parameters:
        - in: query
          name: point_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Список доступных лодок

  # Rentals
  /rentals:
    post:
      tags: [Rentals]
      summary: Создать аренду
      security:
        - BearerAuth: []
      responses:
        '201':
          description: Аренда создана

  /rentals/{id}/return:
    put:
      tags: [Rentals]
      summary: Возврат лодки
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Аренда завершена

  # Routes
  /routes:
    get:
      tags: [Routes]
      summary: Список маршрутов
      parameters:
        - in: query
          name: difficulty
          schema: { type: string }
      responses:
        '200':
          description: Список маршрутов

    post:
      tags: [Routes]
      summary: Создать маршрут
      security:
        - BearerAuth: []
      responses:
        '201':
          description: Маршрут создан

  /routes/{id}/points:
    get:
      tags: [Routes]
      summary: Точки маршрута
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Контрольные точки маршрута

  # GPS
  /gps/tracks:
    post:
      tags: [GPS]
      summary: Начать GPS-трекинг
      security:
        - BearerAuth: []
      responses:
        '201':
          description: Трек создан

  /gps/tracks/{id}/points:
    post:
      tags: [GPS]
      summary: Загрузить точки трека
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                points:
                  type: array
                  items:
                    $ref: '#/components/schemas/GPSPoint'
      responses:
        '200':
          description: Точки загружены

  # Sport
  /teams:
    get:
      tags: [Teams]
      summary: Список команд
      responses:
        '200':
          description: Список команд

    post:
      tags: [Teams]
      summary: Создать команду
      security:
        - BearerAuth: []
      responses:
        '201':
          description: Команда создана

  /tournaments:
    get:
      tags: [Tournaments]
      summary: Список турниров
      responses:
        '200':
          description: Список турниров

  /matches:
    get:
      tags: [Matches]
      summary: Список матчей
      parameters:
        - in: query
          name: tournament_id
          schema: { type: string }
        - in: query
          name: status
          schema: { type: string }
      responses:
        '200':
          description: Список матчей

  /matches/{id}/score:
    put:
      tags: [Matches]
      summary: Обновить счёт матча
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [score_a, score_b]
              properties:
                score_a: { type: integer }
                score_b: { type: integer }
      responses:
        '200':
          description: Счёт обновлён

  # Payments
  /payments:
    post:
      tags: [Payments]
      summary: Создать платёж
      security:
        - BearerAuth: []
      responses:
        '201':
          description: Платёж создан

  # Inclusive
  /profiles/accessibility/{userId}:
    get:
      tags: [Inclusive]
      summary: Получить профиль инклюзивности
      parameters:
        - in: path
          name: userId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Профиль инклюзивности

  # Franchises
  /franchises:
    get:
      tags: [Franchises]
      summary: Список франшиз
      responses:
        '200':
          description: Список франшиз

    post:
      tags: [Franchises]
      summary: Создать франшизу
      security:
        - BearerAuth: []
      responses:
        '201':
          description: Франшиза создана
